.sidenav{
    height: 100%;
    width: 350px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a{
    padding: 30px 10px 6px 6px;
    text-decoration: none;
    font-size: 30px;
    color: #818181;
    display: block;
}

.sidenav a:hover{
    color: #f1f1f1;
    margin-left: 10px;
    transition: 0.3s;
}

.sidenav h2{
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    font-family: "Rubik";
    letter-spacing: 2px;
    font-weight: 400;
    color: #fff;
}

.content{
    position: absolute;  
    width: 500px;  
    left: 40%;
    top:30%;
}

#subtitle{
    top: 20%;
    text-decoration: none;
    font-family: "Lucida Console",'Courier New', Courier, monospace;
}

/* .sele{
    width: 600px;
    border: 1px solid #e7e7e7;
    font-size: 18px;
    color: inherit;
    background-color: #fff;
    margin-right: 10px;
    font-weight: 300;
    transition: border 0.3s;
} */

.sele{
    width: 600px;
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
}

/* .sele:focus{
    outline: none;
    border: 1px solid #28B9B5;
} */


.circle{
    height: 130px;
    width: 150px;
    border-radius: 60%;
    display: inline-block;
    position: absolute;
    top:70%;
    left: 75%;
    background-color:black;
    text-align:center;
    cursor: pointer;
    color: white;
}

.circle:active{
    transform: translateY(5px);
}
.ctext{
    position: absolute;
    padding: 30px;
    top: 30%;
}
.circle:hover{
    color: rgb(189, 170, 170);
    margin-left: 10px;
    transition: 0.3s;
}

.envinput{
    position: absolute;
    top: 100px;
    width: 500px;
}

.inptext{
    margin: 10px;
}